@media print {
  body {
    padding: 1em;
    background: none;
    color: black;
    font-size: 13pt;
    line-height: 1.6em;
    background-color: #fff;
    color: #000 !important;
  }

  kbd,
  pre,
  code,
  .code {
    font-size: 12pt;
    line-height: 1.6em;
    page-break-inside: avoid;
  }


  li > p {
    padding: 0;
    margin: 0;
  }

  .no-print,
  .progressBarContainer,
  .navbar,
  header,
  .sidebar-overlay,
  .sidebar,
  .link-to-heading,
  .page-nav,
  .page-toc,
  .tags,
  details,
  .sticky-sidebar,
  .copy-container {
    display: none !important;
  }

  .contains-task-list {
    list-style: none;
    padding: 0;
  }

  table,
  th,
  td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 4px;
    page-break-inside: avoid;
    color: #000 !important;
  }

  .code * {
    margin-left: 0 !important;
    border-left: 0 !important;
    padding-left: 0 !important;
  }

  pre.code,
  .hint {
    border: 1px solid lightgrey;
    padding: 1em;
    overflow: visible;
    color: #000 !important;
  }

  .hint,
  .warn,
  .error {
    font-style: italic;
    page-break-inside: avoid;
  }

  blockquote {
    border-left: 4px solid lightgrey;
    padding-left: 1em;
    page-break-inside: avoid;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    page-break-inside: avoid;
  }

  .linenumber {
    color: lightgrey !important;
  }

  .tabbed-content button {
    display: none;
  }

  .tab-content {
    display: block !important;
    visibility: visible !important;
  }

  .code-header {
    background-color: lightgrey;
    padding: 4px;
  }
}
